body{
    width: 1024px;
    margin: 0 auto;
}

.todo-table{
    width:100%;
    border-collapse: collapse;
    border: 1px solid;
}
.todo-table td{
    cursor: pointer;
}

.todo-table__sno{
    text-align: right;
    width:50px;
    border: 1px solid;
}

.todo-table__name{
    text-align: left;
    border: 1px solid;
}

.selected{
    background: #444444;
    color: #ffffff
}

.button{
    margin: 10px 0;
    padding: 1px 10px;
    border: 1px solid;
    cursor: pointer;
    min-width: 40px;
}

.secondary{
    background: #ffffff;
}

.primary{
    background: #444444;
    color : #fff;
}

.right{
    float: right;
}

.right::after{
    content: '';
    clear: both;
}

.todo-input{
    margin: 10px 0 0 0;
}